.home-container {


    .home-title {}

    .company-card {
        margin-top: 50px;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .pagination {
        text-align: center;
        margin-top: 55px;
        padding-bottom: 90px;
    }
}