.searrch-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .searrch-bar {
        width: 50%;
    }

    .btn-group {
        margin-right: 20px;
    }
}